<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="im.huoshi">

    <!--umeng permission begin-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--umeng permission end-->

    <application
        android:name=".HuoshiApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.main.LoginActivity" />
        <activity android:name=".ui.find.SuffrageActivity" />
        <activity android:name=".ui.find.FiveTwoActivity" />
        <activity android:name=".ui.find.SuffrageDetailsActivity" />
        <activity android:name=".ui.find.ShareHuoshiActivity" />
        <activity android:name=".ui.me.MyPrayerActivity" />
        <activity android:name=".ui.me.UserInfoActivity" />
        <activity android:name=".ui.find.PubSuffrageActivity" />
        <activity android:name=".ui.bible.ChapterDetailsActivity" />
        <activity android:name=".ui.main.RegisterActivity" />
        <activity android:name=".ui.main.RegisterSettingActivity" />


        <!--umeng key channel begin-->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="569ef0fc67e58e17180015bb"></meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Huoshi" />
        <!--umeng key channer end-->
    </application>

</manifest>
